/* Hero Section CSS */
.main {
  background-color: #141414;
  text-align: center;
}

.main__container {
  display: flex;
  justify-content: center;
  background-color: #141414;

  width: 100%;
  max-width: 1300;
  padding-top: 60px;
}

.main__content h1 {
  font-size: 4rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__content p {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}

.social__container {
  display: flex;
  max-width: 1600px;
  justify-content: center;
  margin-top: 25px;
}

.social__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.social__icons i {
  margin: 10px;
  font-size: 70px;
}

#social__icons--links {
  color: #ffffff;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
  font-size: 1.8rem;
  transition: all ease-in 0.2s;
}

#social__icons--links:hover {
  opacity: 0.5;
  transform: scale(1.1);
}

/* Mobile Responsive */
@media screen and (max-width: 768px) {
  .main__container {
    align-items: center;
    justify-self: center;
    width: 100%;
    margin: 0 auto;
    height: 90vh;
  }

  .main__content {
    text-align: center;
    margin-bottom: 4rem;
  }

  .main__content h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .main__content p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-wdith: 480px) {
  .main__content h1 {
    font-size: 2.2rem;
    margin-top: 3rem;
  }

  .main__content h2 {
    font-size: 2rem;
  }

  .main__content p {
    margin-top: 2rem;
    font-size: 1.5rem;
  }
}
