/* Skills section CSS */

.skills p {
	color: var(--text);
	font-weight: 600;
}

.skills a {
	text-decoration: none;
}

#skills {
	color: var(--text) fff;
	text-decoration: none;
	font-size: 1.8rem;
	transition: all ease-in 0.2s;
	max-width: 100%;
}

#skills:hover {
	opacity: 0.5;
	transform: scale(1.1);
}

@media screen and (max-width: 960px) {
	.skills {
		max-height: 150px;
	}

	.skills__title__container h1 {
		font-size: 48px;
		padding: 20px;
		padding-bottom: 10px;
		padding-top: 60px;
	}

	.skills__container i {
		font-size: 7rem;
	}
}

@media screen and (max-width: 480px) {
	.skills__title__container h1 {
		font-size: 24px;
	}

	.skills i {
		font-size: 3.3rem;
	}
}
