<body>
  <!-- Navbar Section -->
  <nav class="navbar">
    <div class="navbar__container">
      <a href="/" id="navbar__logo"><i class="fas fa-gem"></i>MROBERTS</a>
      <div class="navbar__toggle" id="mobile-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
      <ul class="navbar__menu">
        <li class="navbar__btn">
          <a href="/" class="button"> Home </a>
        </li>
        <li class="navbar__btn">
          <a href="/" class="button"> About </a>
        </li>
        <li class="navbar__btn">
          <a href="/work.html" class="button"> Projects </a>
        </li>
        <li class="navbar__btn">
          <a href="/" class="button"> Portfolio </a>
        </li>
      </ul>
    </div>
  </nav>
</body>
